html, body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; }

body {
  max-width: 2000px;
  margin: 0 auto;
  border: 3px solid #19232d;
  font-family: "Open Sans", sans-serif;
  font-size: 16px; }

h1, h2, h3, h4, h5, .navbar-brand {
  font-family: 'Sriracha', cursive; }

input, textarea {
  margin: 10px auto;
  padding: 10px;
  width: 100%;
  font-size: 22px;
  background: #ebebeb;
  border-radius: 7px;
  border: 2px solid #ff7800;
  color: #19232d; }

textarea:focus, input:focus {
  outline: none; }

input:-webkit-autofill {
  background: transparent; }

.navbar-expand-md .navbar-nav .nav-item a {
  padding: 8px 12px; }

.navbar-brand.customized {
  font-size: 33px;
  -webkit-text-stroke: 1px white;
  -webkit-font-smoothing: antialiased;
  transition: color linear 0.5s; }

.navbar-brand.customized:hover {
  color: #ff7800; }

footer, .navbar, .covid-box, .my-dark-bg {
  color: #ebebeb;
  background-color: #19232d; }

.covid-box, .my-dark-bg {
  border: 1px solid #7d7d7d; }

.main-page {
  min-height: 750px; }

.home-text-lrg {
  font-size: 1.2em; }

.btn-orange, .header-orange {
  color: white;
  background: #ff7800; }

.input-group-text {
  width: 40px; }

#page-top {
  background: #000;
  color: white;
  font-family: 'Sriracha', cursive; }
  #page-top .products {
    display: flex;
    overflow: hidden;
    padding: 1% 0 1% 3.5%; }
    #page-top .products li {
      list-style-type: none;
      width: 30%;
      margin: 1%;
      transform: skewx(10deg);
      overflow: hidden;
      /*add*/ }
    #page-top .products img {
      display: block;
      width: 135%;
      max-width: 750px;
      height: auto;
      max-height: 350px;
      object-fit: cover;
      transform: skewx(-10deg);
      margin-left: -15%; }
    #page-top .products div {
      margin-top: 1%;
      text-align: center;
      font-size: 39px;
      font-size: 3.7vw;
      text-shadow: #000 0px 0px 3px;
      border-top: 2px solid transparent;
      background: #ff7800;
      background: linear-gradient(121deg, #a56f37 5%, #ff7800 50%, #a56f37 95%); }
    #page-top .products strong {
      display: block;
      font-weight: 900; }

.highlight {
  padding: 5px;
  background: #ff7800;
  border-radius: 7px; }

.carousel-caption {
  border-radius: 10px 10px 5px 5px;
  background: rgba(33, 33, 33, 0.55); }

#accordion .card-header {
  background: #ff7800; }

#accordion button {
  width: 100%;
  color: #ebebeb;
  line-height: 1;
  padding: 10px 5px;
  box-shadow: none;
  text-decoration: none; }

#accordion button:not(.collapsed) {
  box-shadow: none;
  color: #19232d; }

#accordion .card-body {
  background-color: #ebebeb; }

.menu-image {
  width: 100%;
  max-width: 300px;
  margin: 20px auto;
  border-radius: 50%;
  border: 3px solid #ff7800;
  -webkit-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 12px 7px 3px rgba(0, 0, 0, 0.75); }

.up-wrap {
  font-size: 37px;
  color: #ff7800;
  line-height: 1;
  border-radius: 50%;
  width: 40px;
  transition: background-color linear 0.3s; }

.up-wrap:hover {
  background: white;
  cursor: pointer; }

.figure {
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
  min-height: 100px; }

.figure .overlay-text {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 77%;
  transform: translate(-50%, -50%);
  margin: 25px 0;
  padding: 15px 30px;
  border-radius: 5px;
  background: rgba(33, 33, 33, 0.55); }

.social-share .btn {
  margin: auto 15px; }

.events-bg {
  background: #ebebeb;
  background: linear-gradient(90deg, rgba(125, 125, 125, 0.25) 0%, rgba(250, 250, 250, 0.5) 15%, rgba(250, 250, 250, 0.5) 85%, rgba(125, 125, 125, 0.25) 100%);
  border: 3px groove #ff7800; }
